__pycache__
.DS_Store
.id
*.bak
*.d
*.mod
*.o
*.pyc
*.svg
build*
config/compiler_cxx
config/log.txt
config/openmp
docs/doxygen/errors.txt
docs/html/
files.txt
issues/
*.a
*.so
lib/*.a
lib/*.so
lib/pkgconfig/*.pc
make.inc
test/tester
test/out
testsweeper-*
wiki/
